# R session artifacts
.Rproj.user/
.Rhistory
.RData
# Compiled objects
src/*.o
src/*.so
src/*.dll
src/Makevars.omp
src-i386/
src-x64/

# Build and package infrastructure
/doc/
/Meta/
docs
pkgdown/
packrat/lib*/

# Vignette outputs
vignettes/*.html
vignettes/*_files/
vignettes/*.nax
# Test outputs
tests/testthat/*.pdf
# Old vignette files
proximetricsR-intro\.Rmd
proximetricsR-intro\.bib
proximetricsR-intro\.html
proximetricsR-intro\.md
# Project file
proximetricsR\.Rproj
# Development files
code_ex.R
figure/
todo.md
# CRAN submission comments
cran-comments.md
our-comments.md
my-comments.md
# Keep this
!logo.png
my-test.json
Ciso.html
